NYT_ACCOUNTS=[{ "user": "your-user@whatever.com", "pass": "your-pass-goes-here" }, { "user": "another-user@whatever.com", "pass": "another-pass-goes-here" }]
WAPO_ACCOUNTS=[{ "user": "your-user@whatever.com", "pass": "your-pass-goes-here" }, { "user": "another-user@whatever.com", "pass": "another-pass-goes-here" }]